{{ 'banner-melatonic.css' | asset_url | stylesheet_tag }}

<section class="banner-melatonic-image page-width">
  <div class="banner-melatonic-image__wrapper">
    <div class="banner-melatonic-image__image">
      <img
        src="{{ 'banner-only-image.jpg' | asset_url }}"
        width="1600"
        height="600"
        alt="Melatonic banner"
        loading="lazy"
      >
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner only image",
  "settings": [],
  "presets": [
    {
      "name": "Banner only image"
    }
  ]
}
{% endschema %}
