{{ 'banner-result.css' | asset_url | stylesheet_tag }}

<section class="banner-result page-width">
  <div class="banner-result__wrapper">
    <div class="banner-result__content">
      <h2 class="banner-result__title">RESULTS AFTER 4 WEEKS</h2>

      <ul class="banner-result__list">
        <li>
          <span class="percent">92%</span>
          <p class="text">AGREED HAIRLINE LOOKED FULLER AND STRONGER*</p>
        </li>

        <li>
          <span class="percent">90%</span>
          <p class="text">AGREED HAIR FELT HEALTHIER AND LESS SHEDDING OCCURRED*</p>
        </li>

        <li>
          <span class="percent">95%</span>
          <p class="text">AGREED SCALP FELT MORE NOURISHED AND COMFORTABLE*</p>
        </li>

        <li>
          <span class="percent">91%</span>
          <p class="text">AGREED THEIR PART LINE APPEARED VISIBLY THICKER*</p>
        </li>
      </ul>

      <div class="banner-result__bottom">
        <p class="banner-result__description">**BASED ON A 33 SUBJECT USER STUDY AFTER 4 WEEKS OF USE.</p>
        <h3 class="banner-result__subtitle">user study results</h3>
      </div>
    </div>
    <div class="banner-result__image">
      <img
        src="{{ 'banner-result.jpg' | asset_url }}"
        width="870"
        height="900"
        alt="Melatonic poster"
        loading="lazy"
      >
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner result",
  "settings": [],
  "presets": [
    {
      "name": "Banner result"
    }
  ]
}
{% endschema %}
