{{ 'banner-result.css' | asset_url | stylesheet_tag }}

<section class="banner-result banner-compound page-width">
  <div class="banner-result__wrapper banner-compound__wrapper">
    <div class="banner-result__image">
      <img
        src="{{ 'banner-compound.jpg' | asset_url }}"
        width="860"
        height="860"
        alt="Melatonic poster"
        loading="lazy"
      >
    </div>

    <div class="banner-result__content">
  <div class="banner-compound__content-wrapper">
  <h2 class="banner-compound__title">what’s inside</h2>

  <div class="banner-compound__text">
    <p>Meet the natural oils and nutrients that nourish your scalp and support fuller-looking hair.</p>
  </div>

  <ul class="banner-compound__list">
    <li class="banner-compound__item">
      <h3 class="banner-compound__item-title">BIOTIN</h3>
      <p class="banner-compound__item-description">
        a powerful vitamin that helps support keratin production, promoting stronger, thicker strands over time.
      </p>
    </li>

    <li class="banner-compound__item">
      <h3 class="banner-compound__item-title">ROSEMARY OIL</h3>
      <p class="banner-compound__item-description">
        stimulates circulation to the scalp, helping reactivate dormant follicles and encourage new hair growth.
      </p>
    </li>

    <li class="banner-compound__item">
      <h3 class="banner-compound__item-title">AVOCADO OIL</h3>
      <p class="banner-compound__item-description">
        rich in essential fatty acids, it deeply moisturizes the scalp and improves elasticity for healthier hair.
      </p>
    </li>

    <li class="banner-compound__item">
      <h3 class="banner-compound__item-title">CASTOR OIL</h3>
      <p class="banner-compound__item-description">
        known for its thickening power, castor oil helps lock in moisture and protect strands from breakage.
      </p>
    </li>
  </ul>

  <div class="banner-compound__text">
    <p>
      expertly blended for visible results with <span>BIOTIN,</span> <span>ROSEMARY OIL,</span> <span>AVOCADO OIL,</span>
      <span>CASTOR OIL</span>
    </p>
  </div>
</div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner compound",
  "settings": [],
  "presets": [
    {
      "name": "Banner compound"
    }
  ]
}
{% endschema %}
