{{ 'banner-melatonic.css' | asset_url | stylesheet_tag }}

<section class="banner-melatonic page-width">
  <div class="banner-melatonic__wrapper">
    <div class="banner-melatonic__image">
      <img
        src="{{ 'banner-melatonic-img.jpg' | asset_url }}"
        width="880"
        height="660"
        alt="Melatonic bottle"
        loading="lazy"
      >
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner with text",
  "blocks": [
    {
      "type": "product",
      "name": "Product link",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select a product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner with text",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
