{{ 'melatonic-benefits-list.css' | asset_url | stylesheet_tag }}

<div class="melatonic-benefits-list page-width">
  <div class="melatonic-benefits-list__wrapper">
    <h2 class="melatonic-benefits-list__title">What Melatonic Does for Your Hair</h2>

    <div class="melatonic-benefits-list__body">
      <div class="melatonic-benefits-list__image">
        <img
          src="{{ 'melatonic-benefits-list.jpg' | asset_url }}"
          width="800"
          height="800"
          alt="Melatonic Hair"
        >
      </div>

      <div class="melatonic-benefits-list__content">
        <ul class="melatonic-benefits-list__list">
          <li class="melatonic-benefits-list__item">
            <span>01</span>
            <p>Increases hair growth by extending the anagen (growth) phase of the hair cycle.</p>
          </li>

          <li class="melatonic-benefits-list__item">
            <span>02</span>
            <p>Improves scalp health with its antioxidant properties, supporting stronger follicles.</p>
          </li>

          <li class="melatonic-benefits-list__item">
            <span>03</span>
            <p>Reduces hair loss by calming scalp inflammation and oxidative stress.</p>
          </li>

          <li class="melatonic-benefits-list__item">
            <span>04</span>
            <p>Enhances follicle protection, shielding them from environmental damage.</p>
          </li>

          <li class="melatonic-benefits-list__item">
            <span>05</span>
            <p>Promotes thicker hair by fostering a balanced hair growth cycle.</p>
          </li>
        </ul>

        <a
          href="{{all_products.melatonic.url}}#melatonic-product"
          class="melatonic-btn-hover melatonic-benefits-list__link"
          >Shop now</a
        >
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Melatonic benefits list",
  "settings": [],
  "presets": [
    {
      "name": "Melatonic benefits list"
    }
  ]
}
{% endschema %}
