{{ 'melatonic-promo.css' | asset_url | stylesheet_tag }}

<section class="melatonic-promo page-width">
  <div class="melatonic-promo__wrapper">
    <div class="melatonic-promo__text">
      <h2 class="melatonic-promo__title">Naturally fuller hair</h2>
      <p class="melatonic-promo__subtitle">or your money back</p>
    </div>

    <div class="melatonic-promo__content">
      <div class="melatonic-promo__slider">
        {% render 'brend-review-slider' %}
      </div>

      <div class="melatonic-promo__image-wrapper">
        <img
          class="melatonic-promo__image"
          src="{{ 'melatonic-promo.png' | asset_url }}"
          width="780"
          height="924"
        >
      </div>

      <div class="melatonic-promo__button">
        <p><span>Rooted in Results</span> —Backed by a 90-Day Guarantee</p>
        <a class="melatonic-promo__link melatonic-btn-hover" href="{{ all_products.melatonic.url }}"> Shop now</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Melatonic Promo",
  "settings": [],
  "presets": [
    {
      "name": "Melatonic Promo"
    }
  ]
}
{% endschema %}
