{{ 'product-benefits.css' | asset_url | stylesheet_tag }}

<div class="product-benefits page-width">
  <div class="product-benefits__wrapper">
    <ul class="product-benefits__list">
      <li class="product-benefits__item product-benefits__item-1">
        <span class="product-benefits__bg product-benefits__bg-1">
          <svg width="444" height="350" viewBox="0 0 444 350" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M444 85.3324C444 181.861 271.65 350 175 350C78.3502 350 0 271.748 0 175.22C0 78.6909 78.3502 0.439015 175 0.439015C271.65 0.439015 444 -11.1962 444 85.3324Z" fill="#F7F7F7"/>
          </svg>
        </span>
        <h3 class="product-benefits__title">Biotin</h3>
        <p class="product-benefits__text">Thickens hair naturally by strengthening roots and enhancing nourishment.</p>
      </li>
      <li class="product-benefits__item product-benefits__item-2">
        <span class="product-benefits__bg product-benefits__bg-2">
          <svg width="573" height="350" viewBox="0 0 573 350" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M573 175C573 271.65 475.509 350 355.247 350C234.986 350 0 346.15 0 249.5C0 152.85 234.986 0 355.247 0C475.509 0 573 78.3502 573 175Z" fill="#F5F5F5"/>
          </svg>
        </span>
        <h3 class="product-benefits__title">Sodium Ascorbyl Phosphate</h3>
        <p class="product-benefits__text">boosts collagen production and keeps the scalp vibrant and resilient.</p>
      </li>
      <li class="product-benefits__item product-benefits__item-3">
        <span class="product-benefits__bg product-benefits__bg-3">
          <svg width="400" height="350" viewBox="0 0 400 350" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M400 254.5C400 351.149 271.99 349.999 175.219 349.999C78.4482 349.999 0 271.649 0 175C0 78.35 78.4482 0 175.219 0C271.99 0 400 157.85 400 254.5Z" fill="#F5F5F5"/>
          </svg>
        </span>
        <h3 class="product-benefits__title">Melatonin</h3>
        <p class="product-benefits__text">
          Enhances natural hair regrowth by nourishing follicles and strengthening hair.
        </p>
      </li>
      <li class="product-benefits__item product-benefits__item-4">
        <span class="product-benefits__bg product-benefits__bg-4">
          <svg width="390" height="366" viewBox="0 0 390 366" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M386.782 50.5451C410.59 139.396 295.726 336.05 208.059 359.541C120.391 383.031 30.0231 330.046 6.21556 241.195C-17.5919 152.345 34.1768 61.2742 121.844 37.7837C209.512 14.2933 362.975 -38.3057 386.782 50.5451Z" fill="#F7F7F7"/>
          </svg>
        </span>
        <h3 class="product-benefits__title">Vitamin E</h3>
        <p class="product-benefits__text">
          A natural antioxidant that revitalizes the scalp and strengthens hair roots.
        </p>
      </li>
      <li class="product-benefits__item product-benefits__item-5">
        <span class="product-benefits__bg product-benefits__bg-5">
          <svg width="395" height="371" viewBox="0 0 395 371" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M395 196.368C395 292.815 316.749 371 220.221 371C123.693 371 0 149.117 0 52.6703C0 -43.7764 123.693 21.7356 220.221 21.7356C316.749 21.7356 395 99.9211 395 196.368Z" fill="#F7F7F7"/>
          </svg>
        </span>
        <h3 class="product-benefits__title">Argan Oil</h3>
        <p class="product-benefits__text">Hydrates and revitalizes hair, supporting thicker, healthier strands.</p>
      </li>
    </ul>
    <div class="product-benefits__image">
      <img
        src="{{ 'melatonic-product-bottle.png' | asset_url }}"
        width="220"
        height="700"
        alt="Melatonic product bottle"
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product benefits",
  "settings": [],
  "presets": [
    {
      "name": "Product benefits"
    }
  ]
}
{% endschema %}
