<div class="ticker-text__wrapper">
  <div class="ticker-text__list">
    <span class="ticker-text__item ticker-text__item-1"
      >Silicone + Paraben Free • Gluten Free • Vegan • Vitamin C • Biotin •</span
    >
    <span class="ticker-text__item ticker-text__item-2"
      >Silicone + Paraben Free • Gluten Free • Vegan • Vitamin C • Biotin •</span
    >
  </div>
</div>

{% schema %}
{
  "name": "Ticker Text",
  "settings": [],
  "presets": [
    {
      "name": "Ticker Text"
    }
  ]
}
{% endschema %}
