.melatonic-promo {
  margin-top: 9rem;
  overflow-x: clip;
}

.melatonic-promo__content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 54rem;
}

.melatonic-promo__slider {
  max-width: 15rem;
  margin-left: auto;
  margin-top: 15rem;
}

.melatonic-promo__text {
  position: relative;
  z-index: -2;
  h2, p {
    margin: initial;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
  }

  p {
    font-size: 2.8rem;
    color: #7F7F7F;
    font-weight: 500;
    text-align: center;
  }
}

.melatonic-promo__image-wrapper {
  position: absolute;
  width: 41rem;
  left: -1rem;
  top: -4rem;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.melatonic-promo__button {
  display: flex;
  flex-direction: column;
  margin-top:  auto;
  gap: 3rem;

  p {
    margin: initial;
    font-size: 2rem;
    color: #000;
    line-height: 133%;

    span {
      font-weight: 900;
    }
  }
}

.melatonic-promo__link {
  display: flex
;
    background-color: #000;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    min-height: 5rem;
    max-width: initial;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: initial;
    transition: background-color .3s linear;
}

@media screen and (min-width: 374px) {
  .melatonic-promo__image-wrapper {
    width: 43rem;
    left: 2rem;
    top: -4rem;
  }
}

@media screen and (min-width: 420px) {
  .melatonic-promo__slider {
    max-width: 20rem;
  }

  .melatonic-promo__content {
    max-width: 39rem;
    margin: 0 auto;
  }

  .melatonic-promo__text {
    h2 {
      font-size: 3.6rem;
    }

    p {
      font-size: 3.2rem;
    }
  }
}

@media screen and (min-width: 1023px) {

  .melatonic-promo {
    margin-top: 12rem;
  }

  .melatonic-promo__content {
    max-width: 94rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 36rem;
  }

  .melatonic-promo__text {
    h2 {
      font-size: 5.8rem;
      text-align: start;
    }

    p {
      font-size: 4.3rem;
      text-align: end;
      line-height: 110%;
    }
  }

  .melatonic-promo__slider {
    margin-left: initial;
    margin-top: initial;
    max-width: 27rem;
  }

  .melatonic-promo__image-wrapper {
    left: 50%;
    transform: translateX(-50%);
    top: -8rem;
  }

  .melatonic-promo__image {
    margin-left: 15rem;
  }

  .melatonic-promo__button {
    margin-top: initial;
    max-width: 30rem;
  }
}

@media screen and (min-width: 1280px) {

  .melatonic-promo {
    margin-top: 15rem;
  }

  .melatonic-promo__text {
    h2 {
      font-size: 6.4rem;
    }

    p {
      font-size: 5.5rem;
    }
  }

 
}

@media screen and (min-width: 1380px) {
  .melatonic-promo__text {
    h2 {
      font-size: 7.4rem;
    }

    p {
      font-size: 6rem;
    }
  }

   .melatonic-promo__image-wrapper {
    width: 52rem;
    top: -10rem;
    left: 50%;
  }

  .melatonic-promo__image {
    margin-left: 19rem;
  }

  .melatonic-promo__content {
    max-width: 115rem;
  }
}

@media screen and (min-width: 1480px) {
  .melatonic-promo__slider {
    max-width: 40rem;
  }

  .melatonic-promo {
    margin-top: 16rem;
  }

  .melatonic-promo__content {
    max-width: 130rem;
  }
}

@media screen and (min-width: 1680px) {
  .melatonic-promo__text {
    h2 {
      font-size: 8.4rem;
    }

    p {
      font-size: 7.2rem;
    }
  }

  .melatonic-promo__content {
    min-height: 52rem;
    max-width: 145rem;
  }

  .melatonic-promo__image-wrapper {
    width: 66rem;
    top: -12rem;
    left: 46%;
  }

  .melatonic-promo__image {
    margin-left: 25rem;
  }

  .melatonic-promo__button {
    max-width: 46rem;

    p {
      font-size: 3.2rem;
    }
  }
}


